//______one day_________
.weatherBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.firstPart {
  margin-top: 45px;
  min-width: 280px;
  background: #102136;
  box-shadow: 0px 5px 33px rgba(84, 103, 126, 0.8);
  border-radius: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 425px) {
    max-width: 350px;
    height: 190px;
  }
  @media (min-width: 426px) and (max-width: 768px) {
    margin-top: 106px;
    width: 500px;
    height: 300px;
  }
  @media (min-width: 769px) {
    margin-top: 106px;
    width: 500px;
    height: 300px;
  }
  &-icon {
    width: 35px;
    height: 35px;
  }
  

  &-location {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.1875em;
    display: flex;
    align-items: center;
    text-align: center;
    color: #767d85;
    @media (min-width: 768px) {
        font-size: 18px;
        
      }
  }
  &-temperature {
    width: 160px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    @media (min-width: 768px) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &-main {
      font-weight: 300;
      font-size: 45px;
      line-height: 1.2em;
      letter-spacing: 0.04em;
      color: #ffffff;
      @media (min-width: 768px) {
        font-size: 90px;
        
      }
    }
    &-box {
      display: flex;
    }
    &-box1,
    &-box2 {
      font-size: 14px;
      line-height: 1.21;
      color: #767d85;
      @media (min-width: 768px) {
        font-size: 18px;
        
      }
    }
    &-box1 {
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid #27384a;
    }
    &-minnumb,
    &-maxnumb {
      font-size: 16px;
      line-height: 1.19;
      color: #ffffff;
      @media (min-width: 768px) {
        font-size: 18px;
        
      }
    }
  }
}

//___________second part_______

.contentBox {
  width: 280px;
  background: rgba(16, 33, 54, 0.8);
  border-radius: 34px;
  &-date {
    font-weight: 300;
    font-size: 45px;
    line-height: 1.2em;
    padding-top: 30px;
    text-align: center;
    letter-spacing: 0.04em;

    color: #ffffff;
  }
  &-dateBox {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    &-month {
      margin-right: 10px;
      padding-right: 10px;

      border-right: 1px solid #ffffff;
    }
    &-month,
    &-time {
      font-size: 14px;
      line-height: 1.21em;
      letter-spacing: 0.04em;

      color: #ffffff;
    }
  }
  &-sun {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    &-sunrise {
      margin-right: 10px;
      padding-right: 10px;

      border-right: 1px solid #ffffff;
    }
    &-sunrise,
    &-sunset {
      font-size: 14px;
      line-height: 1.21em;
      letter-spacing: 0.04em;

      color: #ffffff;
    }
    &-icon,
    &-icon {
      margin-right: 10px;
    }
    & use {
      fill: #ff6b09;
    }
  }
}
