// Input-serch
.input-box{
  padding-top: 30px;
}
.inputForm {
  position: relative;
  width: 280px;
  height: 48px;
}
.search-box {
  padding-left: 57px;
  width: 280px;
  height: 48px;
  border-radius: 30px;
  outline: none;
  border: none;

  &::placeholder {
    color: $black-font-color;
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;

    letter-spacing: 0.04em;
  }
}

//star checkbox
.star {
  right: 20px;
  top: 12px;
  position: absolute;
  color: $gray-font-color;
  visibility: hidden;
  font-size: 30px;
  cursor: pointer;
  width: 22px;
  height: 22px;
  &:hover {
    color: $black-font-color;
  }
  &:before {
    content: '☆';
    top: -7px;
    left: -1.5px;
    position: absolute;
    visibility: visible;
  }
  &:checked:before {
    content: '★';
    position: absolute;
  }
}
// Location-Button
.locationBtn {
  top: 13px;
  left: 20px;
  position: absolute;
  fill: $gray-font-color;
  border-radius: 50%;
  border: none;
  background: transparent;
  cursor: pointer;
  &:hover {
    fill: $black-font-color;
  }
  svg {
    cursor: pointer;
    width: 22px;
    height: 22px;
  }
}

